numpy
pandas
torch>=1.0.0
transformers==2.11.0
lmdb
cbor
pyserini==0.8.1.0
torchnet
cbor
pyspark
jupyter
py4j
nltk
cbor
lmdb
spacy
pyarrow
protobuf
pystream-protobuf==1.5.1
colorama
tiny-tokenizer
flair==0.5
unidecode
segtok
pillow==6.2.2
sqlitedict

